<h1>Create a New Profile</h1>

<%=form_for @user do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br/>
<%=f.label :bio%>
<%=f.text_area :bio%><br/>
<%=f.label :username%>
<%=f.text_field :username%><br/>
<%=f.label :password%>
<%=f.password_field :password%><br/>
<%=f.label "Picture"%>
<%=f.text_field :image, placeholder: "Please put a URl link to your photo here"%><br/>
<%=f.submit%>
<%end%>