<div id="ProfilePage">
  <%=@user.name.titleize%>'s Challenge Quest Profile
</div>

<div id="ProfilePicture">
  <img src= "<%=@user.image%>" width="auto" height="400px">
</div>

<div id="header">
  Username: 
</div>


<div id="content">
  <%=@user.username%>
</div>

<div id="header">
  Bio: 
</div>

<div id="content_bio">
  <%=@user.bio%>
</div>

<div id="header">
  Attempted Challenges: 
</div>

<div id="content_special">
<ul>
    <%@user.accepted_challenges.each do |challenge|%>
        <p>
          <% if challenge.attempts.find_by(status: "Completed") == nil%>
            <%nil%>
        <%else%>
            <%=link_to(challenge.name, challenge_path(challenge))%><br/>(<%= link_to("Mark Challenge as Complete", attempt_path(@user.attempts.find_by(challenge_id: challenge.id)), :method => :patch) %>)
        <%end%>
        </p>
    <%end%>
</ul>
</div>

<div id="header">
  Completed Challenges:
</div>

<div id="content_special">
  <ul>
      <%@user.completed_challenges.each do |challenge|%>
          <p>
            <%=link_to(challenge.name, challenge_path(challenge))%>
          </p>
    <%end%>
  </ul>
</div>


<div id="header">
  Completed Achievements:
</div>

<div id="content_special">
  <ul>
    <%@user.completed_achievements.each do |achievement|%>
      <p>
        <%=link_to(achievement.name, achievement_path(achievement))%>
      </p>
    <%end%>  
  </ul>
</div>
<div id="achievements">
  <%= button_to("List of All Achievements", achievements_path, :method => :get)%>
</div>

<div id="header">
  Friends:
</div>

<div id="content_special">
  <ul>
    <% @user.relationships.each do |relationship| %>
    <p>
      <%= link_to(relationship.friend.username, user_path(relationship.friend.id)) %>
    
      <div id="friends">
        <%= button_to "Remove Friend", relationship, :method => :delete %>
      </div>
    </p>
  <% end %>
  </ul>
</div>
<div id="achievements">
      <%= button_to("List of All Questers", users_path, :method => :get)%>
    </div>


<div id="edit">
  <%= button_to("Edit Profile", edit_user_path, :method => :get)%></p>
</div>

