<div id="ProfilePage">
  <%=@user.name.titleize%>'s Challenge Quest Profile
</div>

<div id="edit">
    <%= button_to "Add Friend", relationships_path(:friend_id => @user), :method => :post %>
</div>

<div id="ProfilePicture">
  <img src= "<%=@user.image%>" width="auto" height="400px">
</div>

<div id="header">
  Username: 
</div>


<div id="content">
  <%=@user.username%>
</div>

<div id="header">
  Bio: 
</div>

<div id="content_bio">
  <%=@user.bio%>
</div>

<div id="header">
  Attempted Challenges: 
</div>

<div id="content_special">
<ul>
    <%@user.display_accepted_challenges_without_duplicates.each do |attempt|%>
        <p>
            <%=link_to(attempt.challenge.name, challenge_path(attempt.challenge))%><br/>(<%= link_to("Mark Challenge as Complete", attempt_path(@user.attempts.find_by(challenge_id: attempt.challenge.id)), :method => :patch) %>)
        </p>
    <%end%>
</ul>
</div>

<div id="header">
  Completed Challenges:
</div>

<div id="content_special">
  <ul>
      <%@user.completed_challenges.each do |challenge|%>
          <p>
            <%=link_to(challenge.name, challenge_path(challenge))%>
          </p>
    <%end%>
  </ul>
</div>


<div id="header">
  Completed Achievements:
</div>

<div id="content_special">
  <ul>
    <%@user.completed_achievements.each do |achievement|%>
      <p>
        <%=link_to(achievement.name, achievement_path(achievement))%>
      </p>
    <%end%>  
  </ul>
</div>


<div id="header">
  Friends of <%=@user.name.titleize%>:
</div>

<div id="content_special">
  <ul>
    <% @user.relationships.each do |relationship| %>
    <p>
      <%= link_to(relationship.friend.username, user_path(relationship.friend.id)) %>
    
      <div id="friends">
        <%= button_to "Remove Friend", relationship, :method => :delete %>
      </div>
    </p>
  <% end %>
  </ul>
</div>


<div id="header">
  Questers Who Have Befriended <%=@user.name.titleize%>:
</div>

<div id="content_special">
  <ul>
    <%@user.inverse_friends.each do |user|%>
      <p>
        <%=link_to(user.username, user_path(user))%>
      </p>
    <%end%>  
  </ul>
</div>


<div id="edit">
  <%= button_to("Edit Profile", edit_user_path, :method => :get)%>
</div>
 <div id="edit">
  <%# <%= button_to("Delete", current_user, method: :delete, data: 
  {confirm: "Are you sure you want to delete your profile?"}) %> 
</div>