<h1>Individual Challenge Page</h1>

<h2>Name: </h2>
<h3><%=@challenge.name%></h3>

<h2>Category: </h2>
<h3><%=@challenge.category%></h3>

<h2>Description: </h2>
<h3><%=@challenge.description%></h3>


<%= link_to("Accept Challenge", attempts_path(:challenge_id => @challenge), :method => :post) %><br/>
<%= link_to("Mark Challenge as Complete", attempt_path(current_user.attempts.find_by(challenge_id: @challenge.id)), :method => :patch) %><br/>
<%= link_to("List of All Challenges", challenges_path)%><br/>
<%= link_to("Profile Page", user_path(current_user))%><br/>