<h1>Achievement Show Page</h1>

<h2>Name: </h2>
<h3><%=@achievement.name%></h3>

<h2>Description: </h2>
<h3><%=@achievement.description%></h3>



<%= link_to("Edit achievement", edit_achievement_path)%><br/>
<%= link_to("List of All Achievements", achievements_path)%><br/>
<%= link_to("Achievement Quest Homepage", "/")%><br/>